version: '3.9'

services:

  redis:
    image: harbor.k8s.elab.rs/bolnica-2/redis:7.0.11-alpine
    container_name: redis
    expose:
      - "6379"
    ports:
      - "6379:6379"

  mongo-db:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - 27017:27017
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8090:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo-db:27017/

  statistics-service:
    # image: statistics-service:0.1
    build: ./statistics-service
    container_name: statistics-service
    ports:
      - 8000:8000
    depends_on:
      - mongo-db
    environment:
      - MONGO_ADDRESS=mongo-db

  user-db:
    image: harbor.k8s.elab.rs/bolnica-2/postgres:latest
    restart: always
    container_name: user-db
    expose:
      - "5432"
    ports:
      - "5432:5432"
    command: -p 5432
    environment:
      POSTGRES_USER: student
      POSTGRES_PASSWORD: student
      POSTGRES_DB: postgresDB

  patient-db:
    image: harbor.k8s.elab.rs/bolnica-2/postgres:latest
    restart: always
    container_name: patient-db
    expose:
      - "5433"
    ports:
      - "5433:5433"
    command: -p 5433
    environment:
      POSTGRES_USER: student
      POSTGRES_PASSWORD: student
      POSTGRES_DB: postgresDB

  laboratory-db:
    image: harbor.k8s.elab.rs/bolnica-2/postgres:latest
    restart: always
    container_name: laboratory-db
    expose:
      - "5434"
    ports:
      - "5434:5434"
    command: -p 5434
    environment:
      POSTGRES_USER: student
      POSTGRES_PASSWORD: student
      POSTGRES_DB: postgresDB

  user-service:
    # image: harbor.k8s.elab.rs/bolnica-2/user-service:1.0
    build: ./user-service
    container_name: user-service
    restart: always
    ports:
      - "8081:8081"
    depends_on:
      - user-db
      - redis

  patient-service:
    # image: harbor.k8s.elab.rs/bolnica-2/patient-service:1.0
    build: ./patient-service
    container_name: patient-service
    restart: always
    ports:
      - "8082:8082"
    depends_on:
      - patient-db
      - redis

  laboratory-service:
    # image: harbor.k8s.elab.rs/bolnica-2/laboratory-service:1.0
    build: ./laboratory-service/
    container_name: laboratory-service
    restart: always
    ports:
      - "8083:8083"
    depends_on:
      - laboratory-db
      - redis


