logging:
  level:
    root: INFO
spring:
  application:
    name: "IBIS User Service"
  output:
    ansi:
      enabled: always
  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: "jdbc:postgresql://user-db:5432/postgresDB"
    username: "student"
    password: "student"
    driver-class-name: org.postgresql.Driver
  cache:
    type: redis
  redis:
    host: redis
    port: 6379
server:
  port: 8081
  servlet:
    context-path: "/api"
jwt:
  secret:
    key: "secret_key"

reset-password:
  uri: "https://bolnica-2.k8s.elab.rs/forgot-password/"

mail:
  host: "smtp.office365.com"
  port: 587
  username: "balkan.medic2023@outlook.com"
  password: "bolnica2"
  smtp:
    host: "smtp-mail.outlook.com"
    starttls:
      enable: "true"
    auth: "true"
    debug: "true"
