logging:
  level:
    root: INFO
spring:
  application:
    name: "IBIS Patient Service"
  output:
    ansi:
      enabled: always
  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: "jdbc:postgresql://localhost:5432/postgresDB"
    username: "student"
    password: "student"
    driver-class-name: org.postgresql.Driver

  integration:
    jdbc:
      initialize-schema: always

  cache:
    type: redis
  redis:
    host: localhost
    port: 6379

server:
  port: 8082
  servlet:
    context-path: "/api"

mail:
  host: "smtp.office365.com"
  port: 587
  username: "balkan.medic2023@outlook.com"
  password: "bolnica2"
  smtp:
    host: "smtp-mail.outlook.com"
    starttls:
      enable: "true"
    auth: "true"
    debug: "true"

jwt.secret.key: "secret_key"

# Duration of scheduled medical examination expressed in minutes
duration.of.exam: 44

user-service-url: "http://localhost:8081/api"

laboratory-service-url: "http://localhost:8083/api"